@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nav: rgba(239, 239, 240, 0.9);
  --about: #a9a9a9,#f6f6f6, #aaaaaa;
  --button:#a9a9a9;
  --box: #e8e9eb;
  --background-color: #ffffff;
  --text-color: #433d8b;
  --text-reverse: #f6f6f6;
  --primary-color: #433D8B;
  --secondary-color: #E8E9EB;
  --accent-color: #000000;
  --header-background: #F6F6F6;
  --card-background: #f1f1f1;
  --link-color: #433D8B;
  --button-background: #433D8B;
}

body.dark-mode {
  --nav: rgba(67, 61, 139, 0.9);
  --about: #17153B, #433D8B, #292762;
  --button:#17153B;
  --box: #f6f6f6;
  --background-color: #17153B;
  --text-color: #F6F6F6;
  --text-reverse: #17153B;
  --primary-color: #433D8B;
  --secondary-color: #292762;
  --accent-color: #FFD700;
  --header-background: #433D8B;
  --card-background: #292762;
  --link-color: #FFD700;
  --button-background: #433D8B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin-top: 60px;
  transition: background-color 0.5s, color 0.5s;
  animation: none;
}

.theme-icon {
  cursor: pointer;
  font-size: 1rem;
  color: #F6F6F6;
  transition: color var(--transition-duration);
}

body.dark-mode .theme-icon {
  color: #FFD700;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

body.switching {
  animation: fade 0.8s ease-in-out;
}

h2, .np {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--text-color);
  font-size: 2.5rem;
}

main {
  padding: 20px;
  margin: 0 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--header-background);
  padding: 4px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-list a.active {
  color: var(--accent-color);
}

/* .nav-list li a.active {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  padding: 5px 10px;
} */

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 40px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--accent-color); /* Gold color for hover effect */
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--accent-color); /* Gold underline */
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: width 250ms ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: var( --text-color);
  font-size: 24px;
}

.first {
  background: linear-gradient(var(--about));
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5rem 0;
}

.welcome {
  font-size: 3rem;
  /* padding-bottom: 20px; */
  font-weight: bold;
}

.about {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.sml{
  font-size: 1rem;
  padding-bottom: 36px;
}

.np {
  padding: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.more {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.cards {
  flex: 1;
  min-width: 420px;
  max-width: 320px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.cards img{
  width: 100%;
  height: auto;
  transition: 0.2s ease-in-out;
}

.cards .ss2{
  width: 420px;
  height: 236.25px;
}

.ss:hover{
  scale: 1.2;
}

.ss2:hover{
  scale: 1.2;
}

.cards:hover{
  transform: translateY(-10px);
}

.card:hover {
  transform: translateY(-10px);
}

.card a {
  color: var( --text-color);
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-background);
  padding: 20px 180px;
  color: white;
  font-size: 1rem;
}

.stats-card {
  text-align: center;
  flex: 1 1 20%; /* Flex grow, flex shrink, flex basis */
  margin: 10px;
}

.stats-card h1 {
  font-size: 2.5rem;
  color: var( --text-color);
  font-weight: bold;
  margin-bottom: 0;
}

.stats-card p {
  color: #ccc;
}


.git{
  background-color: var(--secondary-color);
}

/* General Styling for Research Section */
.research {
  /* padding: 40px 20px; */
  padding-bottom: 20px;
  background-color: var(--background-color);
  text-align: center;
}

.research .np p {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.research-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.research-card {
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 10px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.research-card:hover {
  transform: translateY(-10px);
}

.research-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.research-card .status {
  display: inline-block;
  font-size: 14px;
  color: var(--text-reverse);
  background-color: var(--accent-color);
  padding: 2px 8px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.research-card p {
  font-size: 16px;
  color: var(--text-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .research-cards {
      flex-direction: column;
      align-items: center;
  }
  
  .research-card {
      width: 100%;
      max-width: none;
      text-align: center;
  }
}

@media (max-width: 480px) {
  .research .np p {
      font-size: 24px;
  }

  .research-card h3 {
      font-size: 18px;
  }

  .research-card p {
      font-size: 14px;
  }
}

.cardcont {
  min-height: 380px;
  max-height: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardcont h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardcont p {
  padding-top: 20px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.cardcont .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--button-background);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
  color: #F6F6F6;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.cardcont .btn:hover {
  background-color: var(--button);
  color: var(--text-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.icon {
  text-align: center;
  margin: 10px 0;
}

.fa-solid,
.fa-brands {
  font-size: 2rem;
  line-height: 50px;
  border-radius: 50%;
  transition: transform 0.3s linear, color 0.3s linear;
  color: var( --text-color);
}

.card:hover .fa-solid,
.card:hover .fa-brands {
  transform: scale(1.2);
  color: var(--link-color);
}

.graph {
  /* background-color: #ddd; */
  width: 100%;
  max-width: 1080px;
  height: auto;
}

@media (max-width: 768px) {
  .stats-container {
      padding: 10px 0;
  }

  .stats-card {
      flex: 1 1 45%;
  }

  .stats-card h1 {
      font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .cards{
    min-width: 320px;
    max-width: 320px;
  }
  .cards .ss2{
    width: 290px;
    height: 163px;
  }
  .stats-container {
      flex-direction: column;
  }

  .stats-card {
      flex: 1 1 100%;
  }

  .stats-card h1 {
      font-size: 1.5rem;
  }
}

@media (max-width: 320px) { 
  .container {
    flex-direction: row;
  }
  .stats-card {
      padding: 5px 0; /* Reduced padding to save space */
  }

  .stats-card h1 {
      font-size: 1.2rem; /* Further reduced font size for numbers */
  }

  .stats-card p {
      font-size: 0.8rem; /* Smaller paragraph font size to ensure text fits */
  }
}

@media screen and (max-width: 1024px) {
  .nav-list {
    justify-content: center;
  }
  .nav li {
    margin-left: 20px;
  }
  .welcome {
    font-size: 2.5rem;
  }
  .about {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .body {
    margin-top: 80px;
  }

  .container {
    flex-direction: row;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  nav ul {
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    transition: right 0.3s ease;
    z-index: 999;
  }

  .nav-list {
    position: fixed;
    top: 60px;
    right: 0;
    background: var(--nav);
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  
  .nav-list.active {
    height: calc(100vh - 200px);
    overflow-y: auto;
  }
  
  .nav-list li {
    margin: 10px 0;
  }
  .intro,
  .np {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .cards {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }
}



/* about */

.one {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 5rem 0;
  position: relative; /* Ensures absolute positioning within this container */
}

.detail {
  padding: 3% 10%;
  text-align: left;
}

.detail h1 {
  font-size: 4em; /* Large font size for desktop */
  margin-bottom: 0.3em;
}

.detail a {
  background: var(--button-background);
  padding: 12px 22px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.detail p{
  width: 50%;
  font-size: 1.25rem;
  color: var( --text-color);
  padding-bottom: 25px;
  margin-bottom: 0.5em;
}

.detail .me{
  color: #aaaaaa;
}

.detail a:hover {
  background-color: #a9a9a9;
  color: #17153B;
}

.images {
  position: absolute;
  top: 10%;
  right: 11%;
  max-width: 500px;
  width: 100%; /* Responsive width */
}

.images img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  border-radius: 50%; /* Circular images */
  background-color: var(--background-color);
  box-shadow: 0 0 0 4px var(--header-background), 0 0 0 4px var( --text-color); /* Styled shadow for depth */
}

.table{
  background-color: var(--header-background);
}
.education-table {
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  color: var( --text-color); /* Text color */
}

.education-table td {
  color: var( --text-color);
  padding: 10px 15px;
  border-bottom: 1px solid var(--header-background); /* Adds a border under each row */
}

.education-table tr:nth-child(even) {
  background-color: var(--secondary-color); /* Alternate row background */
}

.education-table tr:hover {
  background-color: var(--secondary-color); /* Hover effect */
}

@media (max-width: 1280px) {
  .detail h1 {
    font-size: 3em;
  }

  .images {
    top: 20%;
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .one {
    padding: 1rem 0;
  }

  .detail {
    padding: 10px;
    text-align: center;
  }

  .detail p{
    width: 100%;
  }

  .images {
    padding: 50px;
    position: relative;
    top: auto;
    right: auto;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .detail h1 {
    font-size: 2em; /* Small font size for mobile devices */
  }

  .detail p{
    padding: 10px;
    width: 100%;
  }

  header nav {
    flex-direction: column;
  }

  .nav-list {
    display: none;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .images img{
    max-width: 70%;
    align-items: center;
  }

  .skills-list {
    flex-direction: column;
  }
}

.detail2{
  padding: 0% 10%;
  padding-bottom: 30px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
}

.skills p{
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 15px;
}

.skills {
  padding: 20px 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill-badge {
  background-color: var(--background-color);
  color: var( --text-color);
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.skill-badge i {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.skill-badge:hover {
  background-color: var(--header-background);
  transform: translateY(-5px);
}

.skill-badge:hover i {
  color: var(--link-color);
}

/* Experience Section */
.experience {
  padding: 30px 0;
  background-color: var(--text-reverse);
}

.experience h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.experience-list {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-left: 30px; /* Offset for timeline */
}

.timeline {
  position: relative;
  padding-left: 40px;
  border-left: 2px solid #ddd;
}

.job {
  position: relative;
  margin-bottom: 40px;
}

.job .circle {
  width: 16px;
  height: 16px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 0;
}

.job .content {
  padding: 0 20px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job h3 {
  font-size: 22px;
  color: var(--text-color);
  margin-bottom: 5px;
}

.job p {
  color: var(--link-color);
  margin-bottom: 10px;
  font-style: italic;
}

.job ul {
  list-style-type: disc;
  margin-left: 20px;
  color: var(--text-color);
}

.job ul li {
  margin-bottom: 5px;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.scroll-to-top.show {
  opacity: 1;
}


.detail3{
  padding: 0% 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail4{
  padding: 0% 10%;
  padding-top: 20px;
  /* padding-bottom: 30px; */
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--text-reverse);
}

.detail3 .sml{
  text-align: center;
}

.box{
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
}

.box p{
  font-size: 2em;
}

.text p{
  padding-top: 20px;
  font-size: 20px;
}

.heading{
  font-weight: bold;
}

.view a{
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--button-background);
  border-radius: 4px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  color: #F6F6F6;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  
}

.view a:hover {
  background-color: #a9a9a9;
  color: #17153B;
}

/* project */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.project-card {
  width: 100%;
  max-width: 1280px;
  height: auto;
  background-color: var(--background-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-carousel {
  position: relative;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
}

.project-carousel.expanded {
  width: 100%; /* Maintain the full width */
  height: calc(1280px * 9 / 16); /* Calculate height based on 16:9 aspect ratio */
  max-height: 720px; /* Limit the height to prevent excessive size */
  opacity: 1;
}

.project-carousel img {
  width: 100%;
  height: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}

.project-carousel img.active {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.project-carousel img.transitioning {
  transform: translateX(100%);
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.01);
  color: black;
  border: none;
  padding: 10px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-control:hover {
  color: var( --text-color);
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 100%;
  width: 60px;
  left: 0px;
}

.next {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  height: 100%;
  width: 60px;
  right: 0px;
}

.project-info {
  padding: 20px;
  background-color: var(--secondary-color);
  color: var( --text-color);
}

.project-info h3{
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
  background-color: var(--button-background);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
  color: #F6F6F6;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--button);
  color: var(--text-color);
}

.btn.see-images {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 11px;
}

@media (max-width: 1024px) {
  .project-card {
    width: 720px;
  }

  .project-info,
  .project-carousel img {
    padding: 20px;
  }

  .project-carousel.expanded {
    height: calc(720px * 9 / 16);
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 540px;
  }

  .carousel-control {
    padding: 5px;
  }

  .project-carousel.expanded {
    height: calc(540px * 9 / 16);
  }
}

@media (max-width: 480px) {
  .project-container {
    padding: 10px;
  }

  .project-card {
    width: 320px;
  }

  .project-info {
    padding: 10px;
  }

  .project-carousel.expanded {
    height: calc(320px * 9 / 16);
  }
}


/* contact Me */

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600px;
  color: var( --text-color);
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 300px;
  height: 5px;
  background-color: #5a52a5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #17153B;
  background-color: var(--box);
  border-radius: 30px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 30px;
}

.contact-inputs:focus{
  border: 2px solid red;
}

.contact-inputs::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 15px;
  color: #F6F6F6;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #433D8B, #292762);
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.contact-left button img{
  height: 20px;
}

.contact-right img{
  width: 600px;
  left: 10%;
}

@media(max-width:800px){
  .contact-left-title h2{
    text-align: left;
  }
  .contact-inputs{
    width: 70vw;
  }

  .contact-left{
    padding-left: 0;
  }

  .contact-right{
    display: none;
  }
}

.contact-social-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.fa-brands:hover, .fa-solid:hover{
  transform: scale(1.2);
  color: var(--link-color);
}

footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  /* padding-top: 40px; */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  /* flex: 1; */
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 5px;
  display: inline-block;
}

.footer-section p {
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--text-color);
  font-weight: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--accent-color);
}

.footer-section .social-icons {
  display: flex;
}

.footer-section .social-icons a {
  color: var(--text-color);
  margin-right: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-section .social-icons a:hover {
  color: var(--accent-color);
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  /* margin-top: 20px; */
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      margin: 20px 0;
  }
}