@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #17153B;
  color: #F6F6F6;
  line-height: 1.6;
}

h2, .np {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #F6F6F6;
  font-size: 2.5rem;
}

main {
  padding: 20px;
  margin: 0 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: #433D8B;
  padding: 4px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2rem;
  color: #F6F6F6;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}

nav a {
  color: #F6F6F6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #FFD700; /* Gold color for hover effect */
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FFD700; /* Gold underline */
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: width 250ms ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: #F6F6F6;
  font-size: 24px;
}

.first {
  background: linear-gradient(to bottom right, #292762, #433D8B);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5rem 0;
}

.welcome {
  font-size: 3rem;
  padding-bottom: 20px;
  font-weight: bold;
}

.about {
  font-size: 1.25rem;
  padding-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.np {
  padding: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.more {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
}

.cards {
  flex: 1;
  min-width: 280px;
  max-width: 320px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #292762;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: transform 0.3s ease-in-out;
}

.cards img{
  width: 320px;
  height: 180px;
}

.ss:hover{
  scale: 1.2;
}

.cards:hover{
  transform: translateY(-10px);
}

.card:hover {
  transform: translateY(-10px);
}

.card a {
  color: #F6F6F6;
}

.cardcont {
  padding: 20px;
  text-align: center;
}

.cardcont h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardcont p {
  font-size: 1rem;
  line-height: 1.5;
}

.cardcont .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #433D8B;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
  color: #F6F6F6;
  transition: background-color 0.3s ease;
}

.cardcont .btn:hover {
  background-color: #17153B;
}

.icon {
  text-align: center;
  margin: 10px 0;
}

.fa-solid,
.fa-brands {
  font-size: 2rem;
  line-height: 50px;
  border-radius: 50%;
  transition: transform 0.3s linear, color 0.3s linear;
}

.card:hover .fa-solid,
.card:hover .fa-brands {
  transform: scale(1.2);
  color: #FFD700;
}

/* .github-contributions{
  max-width: 200%; 
  height: auto;
} */

.graph{
  width: 1080px;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    justify-content: center;
  }
  nav li {
    margin-left: 20px;
  }
  .welcome {
    font-size: 2.5rem;
  }
  .about {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .menu-toggle {
    display: block;
  }
  .nav-list {
    position: fixed;
    top: 110px;
    right: 0;
    background: rgba(67, 61, 139, 0.9);
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .nav-list.active {
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  
  .nav-list li {
    margin: 10px 0;
  }
  .intro,
  .np {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .cards {
    width: 100%;
    margin: 10px 0;
  }
}


/* about */

.one {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 5rem 0;
  position: relative; /* Ensures absolute positioning within this container */
}

.detail {
  padding: 3% 10%;
  text-align: left;
}

.detail h1 {
  font-size: 4em; /* Large font size for desktop */
  margin-bottom: 0.3em;
}

.detail a {
  background: #433D8B;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.detail p{
  width: 50%;
  font-size: 1.25rem;
  color: #F6F6F6;
  padding-bottom: 25px;
  margin-bottom: 0.5em;
}

.detail a:hover {
  background-color: #5a52a5;
}

.images {
  position: absolute;
  top: 10%;
  right: 11%;
  max-width: 500px;
  width: 100%; /* Responsive width */
}

.images img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  border-radius: 50%; /* Circular images */
  background-color: #17153B;
  box-shadow: 0 0 0 4px #433D8B, 0 0 0 4px #F6F6F6; /* Styled shadow for depth */
}

.table{
  background-color: #5a52a5;
}
.education-table {
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  color: #F6F6F6; /* Text color */
}

.education-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #433D8B; /* Adds a border under each row */
}

.education-table tr:nth-child(even) {
  background-color: #292762; /* Alternate row background */
}

.education-table tr:hover {
  background-color: #433D8B; /* Hover effect */
}

@media (max-width: 1280px) {
  .detail h1 {
    font-size: 3em;
  }

  .images {
    top: 20%;
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .one {
    padding: 1rem 0;
  }

  .detail {
    padding: 10px;
    text-align: center;
  }

  .detail p{
    width: 100%;
  }

  .images {
    padding: 50px;
    position: relative;
    top: auto;
    right: auto;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .detail h1 {
    font-size: 2em; /* Small font size for mobile devices */
  }

  .detail p{
    padding: 10px;
    width: 100%;
  }

  header nav {
    flex-direction: column;
  }

  .nav-list {
    display: none; /* Hide by default on mobile */
  }

  .nav-list.active {
    display: flex; /* Show when activated */
    flex-direction: column;
    width: 100%; /* Full width */
  }

  .images img{
    max-width: 70%;
    align-items: center;
  }

  .skills-list {
    flex-direction: column;
  }
}

.detail2{
  padding: 0% 10%;
  padding-bottom: 30px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #433D8B;
}

.skills p{
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 15px;
}

.skills {
  padding: 20px 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill-badge {
  background-color: #292762;
  color: #F6F6F6;
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.skill-badge i {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.skill-badge:hover {
  background-color: #433D8B;
  transform: translateY(-5px);
}

.skill-badge:hover i {
  color: #FFD700;
}

.detail3{
  padding: 0% 10%;
  padding-bottom: 30px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}