@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #17153B;
  color: #F6F6F6;
  line-height: 1.6;
  margin-top: 60px; /* Add top margin to account for fixed header height */
}

h2, .np {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #F6F6F6;
  font-size: 2.5rem;
}

main {
  padding: 20px;
  margin: 0 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #433D8B;
  padding: 4px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2rem;
  color: #F6F6F6;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}

nav a {
  color: #F6F6F6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #FFD700; /* Gold color for hover effect */
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FFD700; /* Gold underline */
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: width 250ms ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: #F6F6F6;
  font-size: 24px;
}

.first {
  /* background: #292762; */
  background: linear-gradient(#17153B, #433D8B, #292762);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5rem 0;
}

.welcome {
  font-size: 3rem;
  /* padding-bottom: 20px; */
  font-weight: bold;
}

.about {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.sml{
  font-size: 1rem;
  padding-bottom: 36px;
}

.np {
  padding: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.more {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.cards {
  flex: 1;
  min-width: 420px;
  max-width: 320px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #292762;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.cards img{
  width: 100%;
  height: auto;
  transition: 0.2s ease-in-out;
}

.cards .ss2{
  width: 420px;
  height: 236.25px;
}

.ss:hover{
  scale: 1.2;
}

.ss2:hover{
  scale: 1.2;
}

.cards:hover{
  transform: translateY(-10px);
}

.card:hover {
  transform: translateY(-10px);
}

.card a {
  color: #F6F6F6;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #433D8B;
  padding: 20px 180px;
  color: white;
  font-size: 1rem;
}

.stats-card {
  text-align: center;
  flex: 1 1 20%; /* Flex grow, flex shrink, flex basis */
  margin: 10px;
}

.stats-card h1 {
  font-size: 2.5rem;
  color: #F6F6F6;
  font-weight: bold;
  margin-bottom: 0;
}

.stats-card p {
  color: #ccc;
}


.git{
  background-color: #292762;
}

.cardcont {
  min-height: 380px;
  max-height: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardcont h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardcont p {
  padding-top: 20px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.cardcont .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #433D8B;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
  color: #F6F6F6;
  transition: background-color 0.3s ease;
}

.cardcont .btn:hover {
  background-color: #17153B;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.icon {
  text-align: center;
  margin: 10px 0;
}

.fa-solid,
.fa-brands {
  font-size: 2rem;
  line-height: 50px;
  border-radius: 50%;
  transition: transform 0.3s linear, color 0.3s linear;
  color: #F6F6F6;
}

.card:hover .fa-solid,
.card:hover .fa-brands {
  transform: scale(1.2);
  color: #FFD700;
}

.graph {
  width: 100%;
  max-width: 1080px;
  height: auto;
}

@media (max-width: 768px) {
  .stats-container {
      padding: 10px 0;
  }

  .stats-card {
      flex: 1 1 45%;
  }

  .stats-card h1 {
      font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .cards{
    min-width: 320px;
    max-width: 320px;
  }
  .cards .ss2{
    width: 290px;
    height: 163px;
  }
  .stats-container {
      flex-direction: column;
  }

  .stats-card {
      flex: 1 1 100%;
  }

  .stats-card h1 {
      font-size: 1.5rem;
  }
}

@media (max-width: 320px) { 
  .container {
    flex-direction: row;
  }
  .stats-card {
      padding: 5px 0; /* Reduced padding to save space */
  }

  .stats-card h1 {
      font-size: 1.2rem; /* Further reduced font size for numbers */
  }

  .stats-card p {
      font-size: 0.8rem; /* Smaller paragraph font size to ensure text fits */
  }
}

@media screen and (max-width: 1024px) {
  .nav-list {
    justify-content: center;
  }
  .nav li {
    margin-left: 20px;
  }
  .welcome {
    font-size: 2.5rem;
  }
  .about {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .body {
    margin-top: 80px;
  }
  .container {
    flex-direction: row;
    padding: 10px;
  }
  .menu-toggle {
    display: block;
    margin-left: auto;
  }
  .nav-list {
    position: fixed;
    top: 50px;
    right: 0;
    background: rgba(67, 61, 139, 0.9);
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  
  .nav-list.active {
    height: calc(100vh - 200px);
    overflow-y: auto;
  }
  
  .nav-list li {
    margin: 10px 0;
  }
  .intro,
  .np {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .cards {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
  }
}



/* about */

.one {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 5rem 0;
  position: relative; /* Ensures absolute positioning within this container */
}

.detail {
  padding: 3% 10%;
  text-align: left;
}

.detail h1 {
  font-size: 4em; /* Large font size for desktop */
  margin-bottom: 0.3em;
}

.detail a {
  background: #433D8B;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.detail p{
  width: 50%;
  font-size: 1.25rem;
  color: #F6F6F6;
  padding-bottom: 25px;
  margin-bottom: 0.5em;
}

.detail a:hover {
  background-color: #5a52a5;
}

.images {
  position: absolute;
  top: 10%;
  right: 11%;
  max-width: 500px;
  width: 100%; /* Responsive width */
}

.images img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  border-radius: 50%; /* Circular images */
  background-color: #17153B;
  box-shadow: 0 0 0 4px #433D8B, 0 0 0 4px #F6F6F6; /* Styled shadow for depth */
}

.table{
  background-color: #5a52a5;
}
.education-table {
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  color: #F6F6F6; /* Text color */
}

.education-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #433D8B; /* Adds a border under each row */
}

.education-table tr:nth-child(even) {
  background-color: #292762; /* Alternate row background */
}

.education-table tr:hover {
  background-color: #433D8B; /* Hover effect */
}

@media (max-width: 1280px) {
  .detail h1 {
    font-size: 3em;
  }

  .images {
    top: 20%;
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .one {
    padding: 1rem 0;
  }

  .detail {
    padding: 10px;
    text-align: center;
  }

  .detail p{
    width: 100%;
  }

  .images {
    padding: 50px;
    position: relative;
    top: auto;
    right: auto;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .detail h1 {
    font-size: 2em; /* Small font size for mobile devices */
  }

  .detail p{
    padding: 10px;
    width: 100%;
  }

  header nav {
    flex-direction: column;
  }

  .nav-list {
    display: none; /* Hide by default on mobile */
  }

  .nav-list.active {
    display: flex; /* Show when activated */
    flex-direction: column;
    width: 100%; /* Full width */
  }

  .images img{
    max-width: 70%;
    align-items: center;
  }

  .skills-list {
    flex-direction: column;
  }
}

.detail2{
  padding: 0% 10%;
  padding-bottom: 30px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #292762;
}

.skills p{
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 15px;
}

.skills {
  padding: 20px 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill-badge {
  background-color: #17153B;
  color: #F6F6F6;
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.skill-badge i {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.skill-badge:hover {
  background-color: #433D8B;
  transform: translateY(-5px);
}

.skill-badge:hover i {
  color: #FFD700;
}

.detail3{
  padding: 0% 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail3 .sml{
  text-align: center;
}

.box{
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #292762;
}

.box p{
  font-size: 2em;
}

.text p{
  padding-top: 20px;
  font-size: 20px;
}

.heading{
  font-weight: bold;
}

.view{
  display: inline-block;
  padding: 8px 16px;
  background-color: #433D8B;
  border-radius: 4px;
  margin-top: 15px;
  color: #F6F6F6;
  transition: background-color 0.3s ease;
}

.view a{
  color: #F6F6F6;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  
}

.view:hover {
  background-color: #5a52a5;
}

/* project */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.project-card {
  width: 100%;
  max-width: 1280px;
  height: auto;
  background-color: #17153B;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-carousel {
  position: relative;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
}

.project-carousel.expanded {
  width: 100%; /* Maintain the full width */
  height: calc(1280px * 9 / 16); /* Calculate height based on 16:9 aspect ratio */
  max-height: 720px; /* Limit the height to prevent excessive size */
  opacity: 1;
}

.project-carousel img {
  width: 100%;
  height: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}

.project-carousel img.active {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.project-carousel img.transitioning {
  transform: translateX(100%);
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.01);
  color: black;
  border: none;
  padding: 10px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-control:hover {
  color: #F6F6F6;
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 100%;
  width: 60px;
  left: 0px;
}

.next {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  height: 100%;
  width: 60px;
  right: 0px;
}

.project-info {
  padding: 20px;
  background-color: #292762;
  color: #F6F6F6;
}

.project-info h3{
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #433D8B;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
  color: #F6F6F6;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: #17153B;
}

.btn.see-images {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .project-card {
    width: 720px;
  }

  .project-info,
  .project-carousel img {
    padding: 20px;
  }

  .project-carousel.expanded {
    height: calc(720px * 9 / 16);
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 540px;
  }

  .carousel-control {
    padding: 5px;
  }

  .project-carousel.expanded {
    height: calc(540px * 9 / 16);
  }
}

@media (max-width: 480px) {
  .project-container {
    padding: 10px;
  }

  .project-card {
    width: 320px;
  }

  .project-info {
    padding: 5px;
  }

  .project-carousel.expanded {
    height: calc(320px * 9 / 16);
  }
}


/* contact Me */

.contact-container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600px;
  color: #F6F6F6;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 300px;
  height: 5px;
  background-color: #5a52a5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #292762;
  border-radius: 30px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 30px;
}

.contact-inputs:focus{
  border: 2px solid red;
}

.contact-inputs::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 15px;
  color: #F6F6F6;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #433D8B, #292762);
  cursor: pointer;
}

.contact-left button img{
  height: 20px;
}

.contact-right img{
  width: 600px;
  left: 10%;
}

@media(max-width:800px){
  .contact-inputs{
    width: 70vw;
  }

  .contact-left{
    padding-left: 0;
  }

  .contact-right{
    display: none;
  }
}

.contact-social-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.fa-brands:hover, .fa-solid:hover{
  transform: scale(1.2);
  color: #FFD700;
}